{% extends 'base.html' %}


{% block title %}
    | add-employee 
{% endblock title %}

    {% block content %}
     <h1 class="text-center my-3"> Add new Employee </h1>

        <div class="container">
            <div class="row">
                <div class="col-md offset-md-3">
                    <div class="card bg-dark text-white">
                <div class="card-body">
                    <form action="/emp/add-emp/" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Employee name</label>
                            <input type="text" name="emp_name" id="name" class="form-control" placeholder="Enter employee name">
                        </div>
                        <div class="mb-3">
                            <label for="id">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone</label>
                            <input id="phone" type="text" class="form-control" placeholder="Enter phone number"
                            name="emp_phone">
                        </div>
                        <div class="mb-3">
                            <label for="address">Employee Address</label>
                           <textarea name="emp_address" id="address" cols="25" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="sallary">Sallary </label>
                           <input type="number" name="emp_sallary" id="sallary" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="department">Departments </label>
                           <select name="emp_department" id="department" class="form-control">
                            <option value="CSE">Computer Science</option>
                            <option value="ME">Mechanical Engineering</option>
                            <option value="EE">Electrical Engg</option>
                           </select>
                        </div>
                        <div class="container text-center">
                            <button class="btn btn-primary">Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>

                </div>
            </div>
        </div>
    
{% endblock content %}
    
    
       